*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family: "Ledger", sans-serif;
    font-weight: 350;
}

ul li {
    text-decoration: underline;
}

.menu-bar{
    background: rgb(196, 126, 225);
    text-align: center;
    font-family: "Ledger";
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}

.active, .menu-bar ul li:hover {
    background-color: rgb(141, 99, 200);
    border-radius: 2px;
    width: 150px;
    padding: 10px;
    border-bottom: 1 px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.Title {
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 20px;
    left:15%;
}

h2 {
    position: absolute;
    top: 200px;
    left: 85px;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 300px;
    left: 90px;
    width: 300px;
    font-size: 14px;
    line-height: 3em;
    margin-bottom: 32px;
    justify-content: center;
}

h3{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 45%;
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: -350px;
    top: 5px;
    z-index: 15;
}

.dog1 {
    position: absolute;
    top: 268px;
    left: 34.5%;
    border-radius: 10px;
    width:1100px;
    height:590;
}

.aboutUs {
    position: absolute;
    top: 150px;
    left: 45%;
    font-size: 30px;
    text-decoration: underline;
}

.aboutUsP {
    text-align: center;
    width: 50%;
    font-size: 20px;
    line-height: 3em;
    margin-bottom: 32px;
    justify-content: center;
    position: absolute;
    top: 230px;
    left: 25%;
}

/* #text {
line-height: 1em;
position: absolute;
top: 30%;
left: 5%;
}

.text1 {
    line-height: 1em;
    position: absolute;
    top: 38%;
    left: 5%;
    
}

.text2 {
    line-height: 1em;
    position: absolute;
    top: 46%;
    left: 5%;
    
}

.text3 {
    line-height: 1em;
    position: absolute;
    top: 54%;
    left: 5%;
    
}

.text4 {
    line-height: 1em;
    position: absolute;
    top: 62%;
    left: 5%;
    
} */

.submitButton {
    position: absolute; 
    top: 70%;
    left: 5%;
}

.line {
    border-left: 8px;
    height: 595px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 260px;
    left: 50%;
}

.line2 {
    border-left: 8px;
    height: 595px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 260px;
    left: 28%;
}

.line3 {
    border-left: 8px;
    height: 480px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 200px;
    left: 20%;
}

.line4 {
    border-left: 8px;
    height: 480px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 200px;
    right: 20%;
}

.line5 {
    border-left: 8px;
    height: 2px;
    width: 1080px;
    background-color: rgb(184, 92, 223);
    position: absolute;
    top: 200px;
    left: 20%;
}

.line6 {
    border-left: 8px;
    height: 2px;
    width: 1080px;
    background-color: rgb(184, 92, 223);
    position: absolute;
    top: 680px;
    left: 20%;
}

.line7 {
    border-left: 8px;
    height: 595px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 260px;
    left: 72%;
}

._logo {
     width: 10%;
     height: 20%;
     object-fit: cover;
     /* position: relative;
     right: 1050px;
     bottom: 38px; */
}

#displayAYB {
    position: absolute;
    top: 260px;
    left: 6%;
    width: 1600px;
    height: 600px;
    background-color: rgb(196, 126, 225);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

#displayFYB {
    position: absolute;
    top: 260px;
    left: 6%;
    width: 1600px;
    height: 600px;
    background-color: rgb(196, 126, 225);
    border-radius: 10px;
}

#displayFYB2 {
    position: absolute;
    top: 1030px;
    left: 40.5%;
    width: 335px;
    height: 580px;
    background-color: rgb(196, 126, 225);
    border-radius: 10px;
}

#displayCard1 {
    position: absolute;
    top: 280px;
    left: 8.5%;
    width:300px;
    height: 555px;
    border-radius: 10px;
}

#displayCard2 {
    position: absolute;
    top: 280px;
    left: 30.5%;
    width:300px;
    height: 555px;
    border-radius: 10px;
}

#displayCard3 {
    position: absolute;
    top: 280px;
    left: 52.5%;
    width:300px;
    height: 555px;
    border-radius: 10px;
}

#displayCard4 {
    position: absolute;
    top: 280px;
    left: 75%;
    width:300px;
    height: 555px;
    border-radius: 10px;
}

.displayCard {
    /* position: absolute; */
    top: 280px;
    left: 75%;
    width:300px;
    height: 555px;
    border-radius: 10px;
    padding:5px;
}

h4{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top:900px;
    left: 40%;
    text-decoration: underline;
}

#displayCard1-border {
    /* position: absolute;
    top: 290px;
    left: 9%; */
    background-color: rgb(196, 126, 225);
    width: 280px;
    height: 535px;
    border-radius: 10px;
}

#displayCard2-border {
    /* position: absolute; */
    /* top: 290px;
    left: 31%; */
    background-color: rgb(196, 126, 225);
    width:280px;
    height: 535px;
    border-radius: 10px;
}

#displayCard3-border {
    /* position: absolute;
    top: 290px;
    left: 53%; */
    background-color: rgb(196, 126, 225);
    width:280px;
    height: 535px;
    border-radius: 10px;
}

#displayCard4-border {
    /* position: absolute;
    top: 290px;
    left: 75.6%; */
    background-color: rgb(196, 126, 225);
    width:280px;
    height: 535px;
    border-radius: 10px;
}

#displayCard5-border {
    /* position: absolute;
    top: 1050px;
    left: 42%; */
    background-color: rgb(196, 126, 225);
    width:280px;
    height: 535px;
    border-radius: 10px;
}

#suggestions {
    position: absolute;
    top:1050px;
    display:flex;
    flex-direction: column;
    line-height: 3em;
}


.allDisplayCards, .displayCard, #displayCard4, #displayCard3, #displayCard2, #displayCard1 {
    border: 8px solid white;
}