*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family: "Ledger", sans-serif;
    font-weight: 350;
}

ul li {
    text-decoration: underline;
}

.menu-bar{
    background: rgb(184, 92, 223);
    text-align: center;
    font-family: "Ledger";
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}

.active, .menu-bar ul li:hover {
    background-color: rgb(141, 99, 200);
    border-radius: 2px;
    width: 150px;
    padding: 10px;
    border-bottom: 1 px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.Title {
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 20px;
    left:15%;
}

h2 {
    position: absolute;
    top: 200px;
    left: 85px;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 300px;
    left: 90px;
    width: 300px;
    font-size: 14px;
    line-height: 3em;
    margin-bottom: 32px;
    justify-content: center;
}

h3{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 60%;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40%;
}

.dog1 {
    position: absolute;
    top: 300px;
    left: 59%;
}

.dog2 {
    position: absolute;
    top: 500px;
    left: 39%;
}

.dog3 {
    position: absolute;
    top: 500px;
    right: 15%;
}

.dog4 {
    position: absolute;
    top: 85%;
    left: 59%;
}

.aboutUs {
    position: absolute;
    top: 150px;
    left: 45%;
    font-size: 30px;
    text-decoration: underline;
}

.aboutUsP {
    text-align: center;
    width: 50%;
    font-size: 20px;
    line-height: 3em;
    margin-bottom: 32px;
    justify-content: center;
    position: absolute;
    top: 230px;
    left: 25%;
}

#text {
line-height: 1em;
position: absolute;
top: 30%;
left: 5%;
}

.text1 {
    line-height: 1em;
    position: absolute;
    top: 38%;
    left: 5%;
    
}

.text2 {
    line-height: 1em;
    position: absolute;
    top: 46%;
    left: 5%;
    
}

.text3 {
    line-height: 1em;
    position: absolute;
    top: 54%;
    left: 5%;
    
}

.text4 {
    line-height: 1em;
    position: absolute;
    top: 62%;
    left: 5%;
    
}

.submitButton {
    position: absolute; 
    top: 70%;
    left: 5%;
}

.line {
    border-left: 8px;
    height: 650px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 180px;
    left: 30%;
}

.line2 {
    border-left: 8px;
    height: 680px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 180px;
    left: 30%;
}

.line3 {
    border-left: 8px;
    height: 480px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 200px;
    left: 20%;
}

.line4 {
    border-left: 8px;
    height: 480px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 200px;
    right: 20%;
}

.line5 {
    border-left: 8px;
    height: 2px;
    width: 1080px;
    background-color: rgb(184, 92, 223);
    position: absolute;
    top: 200px;
    left: 20%;
}

.line6 {
    border-left: 8px;
    height: 2px;
    width: 1080px;
    background-color: rgb(184, 92, 223);
    position: absolute;
    top: 680px;
    left: 20%;
}

.line7 {
    border-left: 8px;
    height: 680px;
    width: 2px;
    background-color:  rgb(184, 92, 223);
    position: absolute;
    top: 180px;
    left: 30%;
}

._logo {
     width: 10%;
     height: 20%;
     object-fit: cover;
     position: relative;
     right: 1050px;
     bottom: 38px;
}
